.qq-slider {
	width: 100%;
	overflow: hidden;
	margin-bottom: 14px;
	.qq-slider-wrap {
		display: flex;
		//transition: .3s;
	}
	.qq-slider-item {
		flex-basis: 100%;
		> a {
			display: block;
			img {
				display: block;
				width: 100%;
			}
		}
	}
}