$body-background:#f4f4f4;

$header-height:44px;
$header-background:#31c27c;

$logo-height:25px;
$tab-bg-color:#fff;

$tab-item-color:rgba(0,0,0,.6);
$tab-item-color-active:#31c27c;
$tab-item-height:40px;

$top-item-color:#fff;
$top-img-height:100px;
$top-topic-font-size:16px;
$top-topic-color:#000;
$top-topic-p-font-size:14px;
$top-topic-p-color:rgba(0,0,0,.5);

$search-parent-font-size:12px;
$search-bg-color:#fff;
$search-input-height:20px;
$search-input-size:14px;
$search-input-color:rgba(0, 0, 0, .3);

$hot-keys-color:rgba(0,0,0,.6);
$hot-tag-color:#000;
$hot-first-tag-color:#fc4524;